@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
}


.dsl-panel {
	width: 100%;
	height: 640px;
	/* height: calc(100% - 18px - 1em);
	width: calc(50% - 5px); */
	float: left;
	background-color: white;
	border: 1px solid gray;
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

/* .dsl-panel:hover {
	-webkit-box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
	-moz-box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
	box-shadow: 0px 0px 6px 2px rgba(138,138,138,1);
} */

.dsl-panel.left-panel {
	margin-right: 6px;
}

.dsl-panel::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

.dsl-panel::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.dsl-panel::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C5C5C5;
}

.dsl-filter {
	width: calc(50% - 6px);
	float: left;
	margin-bottom: 3px;
	border: 1px solid rgba(1,1,1,0);
}

.dsl-filter.left-panel {
	margin-right: 6px;
}

.dsl-filter-input {
    display: block;
    width: 650px;
    height: 31px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400 !important;
    font-style: normal !important;
    line-height: 1.5;
    color: #495057 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 3px;
}

.dsl-panel-item {
	font-size: 1em;
	/* width: calc(100% - 16px); */
	width: 100% !important;
	margin: 3px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	background: #f2f2f2 !important;
	cursor: pointer;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	color: #212529 !important;
}

.dsl-panel-item:hover {
	background-color: #d9edff !important;
}

.dsl-panel-item-null {
	font-size: 1em;
	width: calc(100% - 22px);
	margin: 3px;
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	cursor: pointer;
	border: 3px dashed lightgray;
	display: none;

	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

