@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #E9EFF4;
}

h1, h2, h3, h4, h5, h6 {
  color: #26445A;
  font-family: 'Montserrat' !important;
}

p, span {
  margin: 0;
  padding: 0;
}

button:focus, button:active, button:visited {
  outline: 0 !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

dl, ol, ul {
  margin: 0;
}

.font-16 {
  font-size: 16px !important;
}

a {
  text-decoration: none !important;
  list-style: none !important;
}

.titulo h1 {
  font-size: 16px;
  text-transform: uppercase;
}

.icon-titulo {
  background: url(../img/icon-filtro.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.box-orcamentos {
  padding: 10px;
  text-align: center;
}

.box-alerta {
  border: 1px solid #99000f;
  padding: 7px;
  border-radius: 5px;
  width: 200px;
}

.box-alerta > h6 {
  margin: 0;
}

.icons-absolute {
  position: absolute !important;
  right: 0 !important;
  top: -17px !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  color: #495057;
  font-weight: 500;
}

.actions-menu-orcamento {
  font-size: 14px;
}

.box-autorizar {
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 8px;
  border-radius: 5px;
  background: #0B67BE;
  width: 118px;
  text-align: center;
  border-radius: 100px;
}

.box-autorizar > a {
  color: #fff;
}

.box-desautorizar {
  float: left;
  text-transform: uppercase;
  background: #f2f2f2;
  padding: 8px;
  border-radius: 5px;
  background: #e60935;
  opacity: 0.8;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  width: 118px;
  text-align: center;
}

.box-news-modal, .box-detalhes-perfil-modal {
  margin: 15px 0;
}

.check-news {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  margin-top: 2px;
}

.lightbox-gallery {
  background: #f7f7f7;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  color: #000;
  overflow-x: hidden;
}

.lightbox-gallery p {
  font-size: 13px;
}

.lightbox-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #fff;
}

@media (max-width: 767px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.lb-data .lb-close {
  background: url(../img/close-light.png) top right no-repeat !important;
}

.lb-nav a.lb-next {
  background: url(../img/next-light.png) right 48% no-repeat !important;
}

.lb-nav a.lb-prev {
  background: url(../img/prev-light.png) left 48% no-repeat !important;
}

.lb-data .lb-details {
  display: none;
}

.lb-dataContainer {
  width: 100%;
  position: absolute;
  top: -6%;
  right: 2%;
}

.box-desautorizar > a {
  color: #fff;
}

.h-185 {
  height: 185px;
}

#headingInfo {
  border-top: none;
}

.titulo-accordion-info {
  font-size: 11px !important;
  color: #499ED0 !important;
  letter-spacing: 2px !important;
  line-height: 0 !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
}

.print {
  background: url(../img/print.svg);
  width: 62px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  right: 17px;
  position: absolute;
}

.excel {
  background: url(../img/excel.svg);
  width: 62px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  right: -3px;
  position: absolute;
}

.sair {
  background: url(../img/sair.svg);
  width: 26px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: center;
  right: 20px;
  position: absolute;
}

.excel-2 {
  background: url(../img/excel.svg);
  width: 62px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
  position: absolute;
}

.pdf {
  background: url(../img/pdf.svg);
  width: 62px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  right: 53px;
  position: absolute;
}

.orcamentos-autorizados {
  background: url(../img/orcamentos.svg);
  width: 35px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  right: 54px;
  position: absolute;
  top: 4px;
}

.pagamentos-rejeitados {
  background: url(../img/pagamentos-rejeitados.svg);
  width: 35px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  right: 54px;
  position: absolute;
  top: 4px;
}

.cotacao {
  background: url(../img/cotacao.svg);
  width: 35px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  right: 94px;
  position: absolute;
  top: 4px;
}

.classificacao-docs {
  background: url(../img/classificacao-docs.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  left: 24px;
  position: absolute;
  top: 5px;
}

.class-docs {
  background: #f9f9f9;
  padding: 22px;
  border-radius: 8px;
}

.bg-gray {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.mw-100 {
  max-width: 100% !important;
}

.print-conteudo-parecer {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}

.conteudo-detalhes {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
}

.conteudo-associar {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-warning, .btn-warning:hover {
  color: #fff;
}

.btn-distribuicao {
  background: #499ED0;
  color: #fff;
}

.btn-distribuicao:hover {
  background: #3B8DB7;
  color: #fff;
}

.btn.focus, .btn:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.cont-modais {
  color: #90263f !important;
  font-size: 14px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #495057 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}

.form-control > button.btn-light {
  color: #495057 !important;
  background-color: #fff;
  opacity: 1 !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}

.bootstrap-select.disabled, .bootstrap-select > .disabled {
  background-color: #e9ecef !important;
}

.btn {
  border-radius: 100px;
  font-weight: 500 !important;
  font-weight: 100 !important;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

button.btn-primary {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
  text-transform: uppercase;
}

button.btn-primary:hover {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
}

button.btn-second {
  background: none;
  border-color: #AFC5DB;
  color: #AFC5DB;
  text-transform: uppercase;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

button.btn-second:hover {
  color: #0F81ED;
  border-color: #0F81ED;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-primary:hover, .btn-salvar:hover {
  opacity: 0.7;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: #fff;
}

.btn-transparent {
  background: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.btn-transparent:hover, .btn-transparent:focus {
  background: #6c757d;
  color: #fff;
  border: 1px solid #fff;
}

.btn-salvar-modal {
  width: 103px;
}

.w-1050 {
  max-width: 1050px !important;
}

.w-90 {
  width: 90px !important;
  max-width: 90px !important;
}

.txt-up {
  text-transform: uppercase;
}

.check {
  margin-bottom: 20px;
}

.check > label {
  display: block;
}

.form-check-inline {
  margin-top: 40px;
}

.form-check-inline label.form-check-input {
  margin: 0 0 0 6px;
}

.nav-item .dropdown-toggle::after {
  position: relative;
  top: 2px;
  left: 5px;
}

.input-arquivo > input[type="file"] {
  display: none;
}

.input-arquivo > label {
  padding: 7px 10px;
  width: 100%;
  background: #999999;
  border: 1px solid #999999;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
  position: relative;
  top: 8px;
  font-size: 14px;
  border-radius: 17px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.input-arquivo > label:hover {
  color: #999999;
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.ex-checkbox,
.ex-radio {
  position: relative;
  margin: 12px 0;
  font-size: 16px;
  cursor: pointer;
}

.ex-checkbox label,
.ex-radio label {
  padding-left: 23px;
  line-height: 140%;
  font-weight: normal;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.ex-checkbox input[type=checkbox],
.ex-radio input[type=radio] {
  margin: 0;
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  z-index: 10;
  position: absolute;
  top: 2px;
}

.chb2 {
  position: relative;
  margin: -8px 0 0 0 !important;
}

.chb2 input[type=checkbox] {
  top: 12px !important;
}

.chb2 input[type=checkbox] + label {
  top: 0;
}

.chb2 input[type=checkbox] + label::before {
  top: 0;
}

.m-orcamento input[type=checkbox] + label::before {
  top: 4px !important;
}

.ex-checkbox input[type=checkbox] + label::before {
  border: 1px solid #9f9f9f;
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
  left: 0;
  background-color: #fff;
  top: 2px;
  border-radius: 4px;
}

.check-img input[type=checkbox] + label::before {
  left: 6px;
  top: 23px;
}

.check-img {
  margin: 0;
}

.ex-checkbox input[type=checkbox]:hover + label::before {
  border: 2px solid #0288d1;
}

.ex-checkbox input[type=checkbox]:focus + label::before {
  -webkit-box-shadow: 0 0 1px #0288d1;
          box-shadow: 0 0 1px #0288d1;
  outline: none;
}

.ex-checkbox input[type=checkbox]:checked + label::before {
  border: 1px solid transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjMDI4OGQxIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==") no-repeat center center;
  background-size: 24px 24px;
}

.ex-checkbox input[type=checkbox]:checked:hover + label::before {
  background-size: 30px 30px;
}

.ex-checkbox input[type=checkbox]:disabled {
  cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled + label {
  color: #bcbcbc;
  cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled:checked + label::before {
  border: 1px solid transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjYmNiY2JjIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==") no-repeat center center;
}

.ex-checkbox input[type=checkbox]:disabled + label::before {
  border: 1px solid #bcbcbc;
}

label.form-check-label {
  font-size: 16px;
}

.box-item-text {
  width: 50%;
  text-align: left;
}

.box-item-img {
  width: 50%;
  text-align: right;
}

p.welcome {
  float: left;
  color: #fff;
  text-align: right;
  margin: 6px 18px 0 0;
  font-size: 14px;
}

.menu-doc {
  text-align: center;
  color: #AFC5DB;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu-doc:hover {
  color: #26445A;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu-doc > i {
  font-size: 45px;
}

.consulta {
  padding: 50px 0;
}

.accordion .card {
  border-radius: 5px !important;
  border: transparent;
}

.accordion .card .card-header {
  background: transparent;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  padding-left: 0;
  padding-right: 0;
}

.accordion .card .card-header h5 button {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  color: #26445A;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.consulta .accordion .card .card-header h5 button {
  text-transform: none;
}

.card-body {
  padding: 10px;
}

.accordion .card .card-header {
  background: transparent;
  border-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
}

.box-title-heading {
  color: #000;
  font-weight: 500;
}

.bar-geral {
  float: right;
  background: #AFC5DB;
  padding: 11px 0 0 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 27px;
  width: 27px;
}

.bar1, .bar2 {
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar2 {
  width: 11px;
  opacity: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-90deg) translate(-2px, 0px);
  transform: rotate(-90deg) translate(-2px, 0px);
}

.change .bar2 {
  opacity: 1;
}

.bar-1 {
  -webkit-transform: rotate(0deg) translate(0px, 1px);
  transform: rotate(0deg) translate(0px, 1px);
}

.bar-1, .bar-2 {
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar-2 {
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
  transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar-1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar-2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
  transform: rotate(0deg) translate(1px, 0px);
}

.bar--1 {
  -webkit-transform: rotate(0deg) translate(0px, 1px);
  transform: rotate(0deg) translate(0px, 1px);
}

.bar--1, .bar--2 {
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bar--2 {
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
  transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar--1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar--2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
  transform: rotate(0deg) translate(1px, 0px);
}

.form {
  position: relative;
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 0;
  color: #232323;
  font-weight: 500;
}

.form label {
  position: absolute;
  bottom: 13px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #E6E6E6;
  font-weight: 300;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #BABABA;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 0 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #A3A7AB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.content-name span:last-child {
  height: 22px;
}

.form input:focus {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: black !important;
}

.input:-ms-input-placeholder {
  color: black !important;
}

.input::-ms-input-placeholder {
  color: black !important;
}

.input::placeholder {
  color: black !important;
}

.input-date::-webkit-input-placeholder {
  color: black !important;
}

.input-date:-ms-input-placeholder {
  color: black !important;
}

.input-date::-ms-input-placeholder {
  color: black !important;
}

.input-date::placeholder {
  color: black !important;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 0px;
  color: #A3A7AB;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form input:focus + .label-name .content-name {
  color: #A3A7AB;
}

.link-conulta-perfil {
  text-transform: uppercase;
  font-size: 11px;
  color: #fff !important;
  padding: 2px 5px;
  border-radius: 5px;
  background: #8A9EB2;
  letter-spacing: 2px;
  opacity: 0.8;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.link-conulta-perfil:hover {
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.table-mobile {
  display: none;
}

#table-funcionalidades > thead {
  position: absolute;
  width: 95%;
  z-index: 10;
  background: #fff;
  top: 47px;
}

#table-funcionalidades > tbody {
  display: block;
  margin-top: 23px;
  overflow-y: scroll;
  height: 410px;
  width: 100%;
  position: relative;
}

#table-funcionalidades > thead > tr > th:nth-child(1) {
  width: 1%;
  padding-left: 39px;
}

#table-funcionalidades > thead > tr > th:nth-child(2) {
  width: 14%;
  padding-left: 30px;
}

#table-funcionalidades > thead > tr > th:nth-child(3) {
  width: 21%;
  padding-left: 267px;
}

#table-funcionalidades > thead > tr > th:nth-child(4) {
  width: 21%;
  padding-left: 222px;
}

#table-funcionalidades > thead > tr > th:nth-child(5) {
  width: 21%;
  padding-left: 193px;
}

#table-funcionalidades > thead > tr > th:nth-child(6) {
  width: 21%;
  padding-left: 146px;
}

@media (max-width: 1440px) {
  #table-funcionalidades > thead > tr > th:nth-child(1) {
    padding-left: 30px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(2) {
    padding-left: 24px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(3) {
    padding-left: 197px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(4) {
    padding-left: 130px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(5) {
    padding-left: 100px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(6) {
    padding-left: 68px;
  }
}

@media (max-width: 1024px) {
  #table-funcionalidades > thead {
    width: 94%;
  }
  #table-funcionalidades > thead > tr > th:nth-child(1) {
    padding-left: 24px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(2) {
    padding-left: 17px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(3) {
    padding-left: 94px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(4) {
    padding-left: 47px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(5) {
    padding-left: 30px;
  }
  #table-funcionalidades > thead > tr > th:nth-child(6) {
    padding-left: 5px;
  }
}

.h-250 {
  height: 250px;
}

.h-410 {
  height: 410px;
}

.table-perfis > form > table > tbody > tr > td.actions {
  width: 4%;
}

.table-perfis > form > table > tbody > tr:hover > td.actions {
  width: 8%;
}

.table-perfis > form > table > tbody > tr:hover > td.actions > div > .menu-invisible {
  left: -36px;
  width: 70px;
}

.table-perfis > form > table > tbody > tr > td:nth-child(2) {
  width: 12%;
}

.table-perfis > form > table > tbody > tr > td:nth-child(3) {
  width: 70%;
}

.menu-invisible > a > img {
  width: 25px;
  height: 25px;
}

.bg-table {
  background: #F5F5F9;
  padding: 10px 25px 25px 25px;
}

table {
  background-color: none;
}

.table {
  margin-bottom: 0;
  background: none;
  padding: 0 15px 15px 15px;
}

.larg-actions {
  display: inline-block;
  width: 100px;
}

.table-responsive {
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  overflow: auto !important;
}

.resultado-filtro p {
  color: #26445A;
  margin-bottom: 7px;
}

.table > thead > tr > th {
  text-transform: uppercase;
  font-weight: 700;
  color: #8A9EB2;
  font-size: 13px;
  background: #fff;
  border: none;
  padding: 15px;
}

.table > tbody > tr.separator {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.table > tbody > tr {
  background: #F6F7FB;
}

.table > tbody > tr > td {
  padding: 13px;
  font-weight: 300;
  color: #707071;
  font-size: 12px;
  background: transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  width: 5%;
}

.table > tbody > tr:hover > td {
  background-color: #d9edff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.table > tbody > tr > td:first-child {
  border-left: 2px solid #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 1%;
}

.table > tbody > tr > td:last-child {
  border-right: 2px solid #fff;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr:hover > td:first-child {
  background-color: #d9edff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table > tbody > tr:hover > td:last-child {
  background-color: #d9edff;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr.separator > td {
  padding: 8px;
  background: none;
  border: none;
}

table td:last-child {
  width: 180px;
}

.table > tbody > tr.separator {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-table {
  border: 1px solid #ececf1;
  background: #fff;
  padding: 20px 40px 20px 8px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 40px;
}

.bg-table.with-header {
  margin-top: 0;
}

.header-table img, .header-table img + div {
  float: left;
}

.header-table img {
  margin-right: 10px;
}

.header-table span {
  color: #717073;
}

.header-table span:last-child {
  font-size: 14px;
  font-weight: 600;
}

.header-table li {
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid #ececf1;
}

.header-table li:last-child {
  border: none;
}

.menu-visible .circle {
  border-radius: 100px;
  background: #AFB7C3;
  height: 4px;
  width: 4px;
  display: inline-block;
}

table td.actions:last-child {
  width: 5%;
}

td.actions .float-right {
  position: relative;
  margin-right: 25px;
}

td.actions .menu-visible {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 1;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  width: 20px;
  margin-left: -10px;
}

td.actions .menu-invisible {
  position: absolute;
  top: 0px;
  left: -47px;
  opacity: 0;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  width: 90px;
}

td.actions .menu-invisible a {
  margin-right: 7px;
}

tr:hover td.actions .menu-visible {
  opacity: 0;
}

tr:hover td.actions .menu-invisible {
  top: 0px;
  left: -8px;
  opacity: 1;
}

tr:hover td.actions .menu-invisible.one {
  left: 15px;
}

.with-checkbox input {
  margin-right: 5px;
  width: auto;
  display: inline-block;
}

tr:hover td {
  color: #89919F;
}

.no-hover .table > tbody > tr:hover > td {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.no-hover .actions .menu, .no-hover .actions .menu-invisible {
  display: none;
}

.no-hover .table > tbody > tr > td:first-child {
  border-left: 2px solid #fff;
}

.no-hover .table > tbody > tr > td:last-child {
  border-right: 2px solid #fff;
}

.no-hover .table > tbody > tr.separator > td {
  border: none;
}

/* fim tabela sem hover */
.t3 tbody tr td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: -48px;
  top: 2px;
}

.t3 tbody tr td.ac-3 {
  width: 1%;
}

.t3 tbody tr:hover td.ac-3 {
  width: 4%;
  padding-right: 50px;
}

.table-perfil tbody tr td:nth-child(1) {
  width: 2%;
}

.table-perfil tbody tr td:nth-child(2) {
  width: 5%;
}

.table-perfil tbody tr td:nth-child(3) {
  width: 10%;
}

.table-perfil tbody tr td:nth-child(4) {
  width: 10%;
}

.table-perfil tbody tr td:nth-child(5) {
  width: 10%;
}

.table-perfil tbody tr td:nth-child(6) {
  width: 73%;
}

.table-perfil tbody tr td.ac-3 div > .menu-invisible {
  width: 138px !important;
  right: 0;
  top: 2px;
}

.table-perfil tbody tr:hover td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: -71px;
  top: 2px;
}

.table-perfil tbody tr:hover td.ac-3 {
  width: 9%;
  padding-right: 32px;
}

.table-indenizacoes tbody tr td.ac-3 div > .menu-invisible {
  width: 138px !important;
  right: 0;
  top: -4px;
}

.table-indenizacoes tbody tr:hover td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: 2px;
  top: -4px;
}

.table-indenizacoes tbody tr:hover td.ac-3 div > .menu-visible {
  margin-left: 0 !important;
}

.table-indenizacoes tbody tr td.ac-3 div > .menu-visible {
  margin-left: 0 !important;
}

.table-usuario tbody tr td {
  width: 12%;
}

.table-usuario tbody tr td:nth-child(1) {
  width: 2%;
}

.table-usuario tbody tr td:nth-child(2) {
  width: 3%;
}

.table-usuario tbody tr td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: 0;
  top: 2px;
}

.table-usuario tbody tr:hover td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: -16px;
  top: 2px;
}

.table-usuario tbody tr:hover td.ac-3 {
  width: 5%;
  padding-right: 70px;
}

.table-prestadores tbody tr td:nth-child(1) {
  width: 1%;
}

.table-prestadores tbody tr td:nth-child(2) {
  width: 4%;
}

.table-prestadores tbody tr td:nth-child(3) {
  width: 10%;
}

.table-prestadores tbody tr td:nth-child(4) {
  width: 10%;
}

.table-prestadores tbody tr td:nth-child(5) {
  width: 10%;
}

.table-prestadores tbody tr td:nth-child(6) {
  width: 65%;
}

.table-prestadores tbody tr td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: 0;
  top: 2px;
}

.table-prestadores tbody tr:hover td.ac-3 div > .menu-invisible {
  width: 138px !important;
  left: -16px;
  top: 2px;
}

.table-prestadores tbody tr:hover td.ac-3 {
  width: 5%;
  padding-right: 70px;
}

.pagination .icon {
  font-size: 11px;
  margin: -4px;
}

.pagination {
  list-style: none;
  margin: 10px auto 0;
  display: block;
  margin: 40px 0;
  text-align: center;
  float: none;
  padding: 13px 0 0 0;
}

.pagination li {
  display: inline-block;
  text-align: center;
  width: 45px;
  margin: 0 -5px;
}

.pagination li a {
  margin-left: 12px;
  padding: 5px 10px;
  line-height: 27px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: none;
  color: #2266A7;
  border: 1px solid #2266A7;
  font-weight: 500;
  font-size: 12px;
}

.pagination a.active, .pagination a:hover {
  cursor: pointer;
  color: #fff !important;
  background: #2266A7 !important;
  border-color: #2266A7 !important;
  text-decoration: none;
}

.pagination a.active:hover {
  background: #2266A7 !important;
  border-color: #2266A7 !important;
  color: #fff;
  cursor: default;
}

.pagination a.more {
  line-height: 24px;
  border: none;
}

.pagination a.more:hover {
  cursor: default;
  border: none;
  background: none !important;
  color: #868686 !important;
}

.pagination > li:first-child > a {
  margin-left: 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.pagination > li:last-child > a {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.pagOff span {
  opacity: 0.2;
}

.pagination li a.pagOff {
  pointer-events: none;
}

.pagination li a.pagOff:hover {
  background: none;
  cursor: default;
}

.pag-and-btn {
  position: relative;
  height: 35px;
}

.pagination-centered {
  text-align: center;
}

.btn-floating {
  position: absolute;
  right: 0;
  top: 0;
}

.pagination li a.prev, li a.next {
  padding: 5px 12px;
}

header {
  background: url(../img/bg-header.png) no-repeat;
  height: 117px;
}

header .logo {
  padding: 0 33px;
  background: red;
  height: 79px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  background-color: rgba(227, 15, 53, 0.6);
}

header .logo img {
  margin-top: 22px;
}

header ul li {
  margin-right: 30px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  color: #6888AB;
  font-size: 16px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header ul li a.active, header ul li a:hover {
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-decoration: none;
}

header .navbar {
  z-index: 2;
  padding: 0;
  margin-top: 34px;
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user {
  margin-right: 30px;
  display: none;
}

.user button {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.user img {
  border-radius: 100px;
  width: 53px;
  height: 53px;
  float: left;
}

.user .options {
  float: left;
  margin: 15px 0 0 10px;
}

.user .options span {
  background: #fff;
  width: 5px;
  height: 5px;
  margin-top: 3px;
  display: block;
  border-radius: 100px;
}

.user .dropdown-toggle::after {
  display: none;
}

.clearfix {
  clear: both;
}

.interna {
  margin-top: 38px;
}

.interna .box {
  border-radius: 5px;
  padding: 7px 15px 7px 30px;
  background: #F9f9f9;
}

.interna .box:hover {
  -webkit-box-shadow: -1px -2px 21px -3px rgba(193, 193, 193, 0.51);
  box-shadow: -1px -2px 21px -3px rgba(193, 193, 193, 0.51);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
}

.interna .box p {
  color: #919191;
  font-size: 14px;
}

.interna .box span {
  color: #7B7B7B;
  font-size: 16px;
  font-weight: 600;
}

.nav.white, .tab-pane.white, .tab-content.white {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  height: 100%;
}

.i-add {
  width: 30px;
  height: 30px;
}

.tabela-itens-orcamento {
  padding: 10px;
  background: #fff;
  text-transform: uppercase;
}

.title-add-orcamento, .title-cadastro-internas {
  letter-spacing: 2px;
  color: #e60935;
  text-transform: uppercase;
  font-size: 13px;
}

.title-novo {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 19px;
  color: #499ED0;
}

.tab-content.white {
  padding: 20px 10px;
}

.flex-column .nav-link, .mobile .accordion .card .card-header h5 button {
  text-transform: uppercase;
  border-radius: 100px;
  padding: 0 0 0 10px;
  font-size: 13px;
  font-weight: 500;
}

.menu-itens .nav-link.active {
  background-color: #D8E6FF;
  color: #26445A;
  padding: 5px !important;
}

.menu-itens > a {
  color: #AFC5DB;
  padding: 15px !important;
  text-align: center;
}

.menu-itens > a:hover {
  color: #26445A;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.menu-itens > a > i {
  font-size: 38px;
}

.menu-itens > a > i.icon-fin-acompanhamento-proposta, .menu-itens > a > i.icon-nav-visualizar, .menu-itens > a > i.icon-fin-receber, .menu-itens > a > i.icon-info-vida {
  font-size: 46px;
}

.menu-itens > a:first-child {
  padding-bottom: 0 !important;
}

.anexos {
  background: url(../img/icon-anexos.png) center no-repeat;
}

.anexos {
  background: url(../img/icon-anexos.png) center no-repeat;
}

.anexos.active {
  background: url(../img/icon-anexos-active.png) center no-repeat;
}

.historico {
  background: url(../img/icon-historico.png) center no-repeat;
}

.historico.active {
  background: url(../img/icon-historico-active.png) center no-repeat;
}

.detalhes-apolic {
  background: url(../img/icon-detalhes.png) center no-repeat;
}

.detalhes-apolic.active {
  background: url(../img/icon-detalhes-active.png) center no-repeat;
}

.detalhes-apolic.active {
  background: url(../img/icon-detalhes-active.png) center no-repeat;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

.doc-anexos-parecer div div div > img {
  width: 100%;
}

.anexo-parecer {
  color: #e60935;
}

.vincular-parecer {
  color: #17a2b8;
}

.vincular-parecer > img {
  color: #17a2b8;
  width: 18px;
  position: relative;
  top: -2px;
  left: 1px;
}

.anexo-parecer:hover {
  color: #e60935;
}

.anexo-parecer .icon-nav-anexar {
  font-size: 20px;
}

.enviar-anexo {
  float: left;
  margin-right: 12px;
}

.enviar-anexo > button {
  border-radius: 100%;
  width: 44px;
  background: #e60935;
  color: #fff;
}

.enviar-anexo > button:hover {
  border-radius: 100%;
  width: 44px;
  background: #d70c34;
  color: #fff;
}

.enviar-anexo > button > div > i {
  position: relative;
  top: 2px;
  font-size: 22px;
  right: 2px;
}

.vincular-doc > button {
  border-radius: 100%;
  width: 44px;
}

.vincular-doc > button > div > img {
  width: 21px;
  height: 28px;
  padding-right: 2px;
}

.anexo-parecer span {
  position: relative;
  top: -3px;
  right: 5px;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 100%;
  color: #fff;
  background: #e60935;
}

.vincular-parecer span {
  position: relative;
  top: -3px;
  right: 5px;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 100%;
  color: #fff;
  background: #17a2b8;
}

.icon-close {
  background: url(../img/close.svg);
  width: 25px;
  height: 25px;
  right: 15px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.contadores-tabela {
  float: right;
}

.contadores-tabela > p {
  display: inline;
  font-size: 15px;
  font-weight: 600;
  color: #8A9EB2;
}

.itens-add-pecas {
  font-size: 15px;
  font-weight: 600;
  color: #8A9EB2;
}

.titulo-tabela-itens {
  float: left;
}

.interna h1 {
  color: #0B67BE;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.interna h2 {
  font-size: 13px;
  color: #060606;
  font-weight: 500;
  margin: 50px 0 20px 0;
  text-transform: uppercase;
  color: #0B67BE;
}

span.btn-add {
  background: url(../img/add.svg);
  width: 28px;
  height: 28px;
  right: 15px;
  bottom: 2px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.info-parecer, .info-orcamento {
  background: #f9f9f9;
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}

.header-parecer > div > p, .header-orcamento > div > p {
  font-size: 14px;
}

.conteudo-orcamento div div div > p {
  font-size: 14px;
}

.conteudo-orcamento div div div > h6 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 17px;
}

.conteudo-parecer, .conteudo-orcamento {
  background: #fff;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 10px;
}

.toolbar-imagens {
  overflow: hidden;
  display: none;
}

.panel-main:hover > .toolbar-imagens {
  overflow: visible;
  display: block;
}

.btn-salvar {
  background: #10C35E;
  color: #fff;
}

.b-salvar-parecer {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
  width: 100px;
}

.btn-salvar-orcamento {
  background: transparent;
  border: 1px solid #999999;
  color: #999999;
  margin-top: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
}

.btn-salvar-orcamento:hover, .btn-salvar-orcamento:visited, .btn-salvar-orcamento:focus {
  background: #10C35E;
  border: 1px solid #10C35E;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-opcoes {
  background: transparent;
  border: 1px solid #999999;
  color: #999999;
  margin-top: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-opcoes:hover, .btn-opcoes:visited, .btn-opcoes:focus {
  background: #999999;
  border: 1px solid #999999;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-cancelar-orcamento {
  background: transparent;
  border: 1px solid #999999;
  color: #999999;
  margin-top: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
}

.btn-cancelar-orcamento:hover {
  background: #E70935;
  border: 1px solid #E70935;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-cancel {
  margin-right: 25px;
  background: transparent;
  border-color: #E70935;
  color: #E70935;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  text-transform: uppercase;
}

.btn-cancel:hover {
  background: #E70935;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.interna .mobile .card-body .row:first-child h2 {
  margin-top: 0;
}

.color-b {
  color: #0B67BE;
}

.color-r {
  color: #99000f;
}

.link-modais {
  color: #0B67BE;
  padding: 6px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}

.link-modais:hover {
  color: #99000f;
  -webkit-box-shadow: 3px 3px 3px #f7f7f7;
          box-shadow: 3px 3px 3px #f7f7f7;
  background: #f2f2f2f2;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.icon-autorizado {
  background: url(../img/autorizado.svg);
  width: 20px;
  height: 20px;
  right: 65px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  cursor: inherit;
}

.icon-nao-autorizado {
  background: url(../img/nao-autorizado.svg);
  width: 20px;
  height: 20px;
  right: 65px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  cursor: inherit;
}

.alterar-itens-pecas > img {
  width: 23px;
  float: right;
  cursor: pointer;
}

.box-titulo-categorias {
  padding: 11px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.titulo-categorias {
  font-size: 11px;
  color: #499ED0;
  letter-spacing: 2px;
  line-height: 0;
  margin-top: 6px;
  text-transform: uppercase;
}

.title-pop-up {
  color: #0B67BE;
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
  margin: 0;
}

.estilo-indenizacao {
  background-color: transparent !important;
  color: #0B67BE !important;
  border-color: #0B67BE !important;
}

.bg-light-gray {
  background: #f2f2f2;
}

.modal-title {
  color: #0B67BE;
  font-size: 23px;
  font-weight: 500;
  margin: 0;
}

.m-header {
  background: #f7f7f7;
}

.m-header > h5 {
  color: #0B67BE;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.mbody-detalhes div div div > h6 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 17px;
}

.mbody-totalizadores div div div > h6 {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 17px;
}

.user {
  display: block;
}

.interna .mobile {
  display: none;
}

@media (max-width: 576px) {
  .navbar-nav {
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }
  .nav-link {
    padding: 15px;
  }
  .separator {
    border-top: 1px solid #9a3559;
  }
  .interna .desktop {
    display: none;
  }
  .interna .box img {
    display: none;
  }
  .interna .box {
    margin-bottom: 10px;
  }
  .accordion-desk {
    display: none;
  }
  .navbar-collapse {
    background: #F2F5F8;
  }
  .dropdown-menu.show {
    width: 100%;
    background: #DFE8EF;
  }
  .dropdown-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }
  header ul li {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .navbar-nav {
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }
  .nav-link {
    padding: 15px;
  }
  .separator {
    border-top: 1px solid #9a3559;
  }
  .interna .desktop {
    display: none;
  }
  .interna .box img {
    display: none;
  }
  .interna .box {
    margin-bottom: 10px;
  }
  .accordion-desk {
    display: none;
  }
  .navbar-collapse {
    background: #F2F5F8;
  }
  .dropdown-menu.show {
    width: 100%;
    background: #DFE8EF;
  }
  .dropdown-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }
  header ul li {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .accordion-desk {
    display: none;
  }
  .navbar-collapse {
    background: #F2F5F8;
  }
  .dropdown-menu.show {
    width: 100%;
    background: #DFE8EF;
  }
  .dropdown-item {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }
  header ul li {
    width: 100% !important;
    margin: 0 !important;
  }
  .navbar-nav {
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }
  .nav-link {
    padding: 15px;
  }
  .separator {
    border-top: 1px solid #9a3559;
  }
  .interna .desktop {
    display: none;
  }
  .interna .box img {
    display: none;
  }
  .interna .box {
    margin-bottom: 10px;
  }
  .card {
    border-bottom: 1px solid #f2f2f2 !important;
  }
  .header-parecer div p {
    margin: 3px 0;
  }
  .card .card-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .card .card-header h5 > button.titulo-accordion-info {
    font-size: 11px !important;
  }
  .card .card-header h5 > button {
    font-size: 20px !important;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .navbar-nav {
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }
  .nav-link {
    padding: 15px;
  }
  .separator {
    border-top: 1px solid #9a3559;
  }
  .interna .mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .box-item-text {
    width: 100%;
  }
  .box-item-img {
    display: none;
  }
  .t3 tbody tr td.ac-3 div > .menu-invisible {
    width: 80px !important;
    height: 85px;
    left: -11px;
    top: -7px;
  }
  .t3 tbody tr td.ac-3 div > .menu-invisible > a > img {
    margin-bottom: 12px;
    margin-right: 5px;
  }
  td.actions .menu-invisible a {
    margin-right: 2px;
    margin-bottom: 6px;
  }
  .form-check-inline {
    margin-top: 0;
  }
  .titulo-accordion-info {
    font-size: 11px !important;
  }
}

@media (max-width: 1200px) {
  .table-perfil tbody tr:hover td.ac-3 {
    width: 14%;
    padding-right: 32px;
  }
  .table-perfil tbody tr td.ac-3 div > .menu-invisible {
    width: 168px !important;
    left: -101px;
    top: 2px;
  }
}

@media (max-width: 992px) {
  .class-docs {
    width: 100%;
    margin-top: 20px;
  }
  .table-perfil tbody tr:hover td.ac-3 {
    width: 19%;
    padding-right: 42px;
  }
  .user {
    display: block;
  }
  .interna .mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  .form-check-inline {
    margin-top: 0;
  }
  .table-desk {
    display: none;
  }
  .table-mobile {
    display: block;
  }
  .table-perfil tbody tr:hover td.ac-3 {
    padding-left: 50px;
  }
  .table-perfil tbody tr td.ac-3 div > .menu-invisible {
    width: 670px !important;
    right: 0;
    top: 2px;
    padding-left: 20px;
  }
  .classificacao-docs {
    top: 51px;
  }
  .container-imagens {
    height: 340px !important;
    min-height: 340px !important;
    overflow-y: auto !important;
  }
  .thumbs img {
    width: 100% !important;
  }
}
/*# sourceMappingURL=estilo.css.map */