#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.magnify-modal {
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    }

   .magnify-header .magnify-toolbar {
     background-color: rgba(0, 0, 0, .5);
   }

   .magnify-stage {
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     border-width: 0;
   }

   .magnify-footer .magnify-toolbar {
     background-color: rgba(0, 0, 0, .5);
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
   }

   .magnify-header,
   .magnify-footer {
     pointer-events: none;
   }

   .magnify-button {
     pointer-events: auto;
   }
   
   #listaImagens{
    overflow-y: scroll;
    float: right;
    width: 92px;
    height: 400px;
    display: flow-root;
   }
   
   .scrollbar {
	height: auto;
	width: 10px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.scrollbar-content {
	float: left;
	height: auto;
	width: 10px
	background: #fff;
	overflow-y: scroll;
	overflox-x: scroll;
}

.force-overflow {
	min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5; 
}

.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #4285F4; 
}

.scrollbar-primary {
	scrollbar-color: #4285F4 #F5F5F5;
}

.content {
    width:auto;
    height:0px;
    margin-right: auto;
    margin-left: auto;
}
.panel-group {
    width:448px;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%) rotate(-90deg);
    -webkit-transform-origin: right top;
    -moz-transform: translateX(-100%) rotate(-90deg);
    -moz-transform-origin: right top;
    -o-transform: translateX(-100%) rotate(-90deg);
    -o-transform-origin: right top;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right top;
}
.panel-heading {
    width: 230px;
}
.panel-title {
    height:18px
}
.panel-title a {
    float:right;
    text-decoration:none;
    padding: 10px 100px;
    margin: -10px -160px;
}
.panel-body {
    height:430px;
}
.panel-group img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0%) rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: translateX(0%) rotate(90deg);
    -moz-transform-origin: left top;
    -o-transform: translateX(0%) rotate(90deg);
    -o-transform-origin: left top;
    transform: translateX(0%) rotate(90deg);
    transform-origin: left top;
}
.textRotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 80px !important;
    padding-top: 70px !important;
    width: 350px !important;
    
}
.panel-group .panel img {
    margin-left:300px;
    position: absolute;
}


 #tab-content-docs{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%) rotate(180deg);
    -webkit-transform-origin: left top;
    -moz-transform: translateY(100%) rotate(180deg);
    -moz-transform-origin: left top;
    -o-transform: translateY(100%) rotate(180deg);
    -o-transform-origin: left top;
	transform: translateY(100%) rotate(180deg);
    transform-origin: left top;
}

#link-docs{
	transform: translateY(100%) rotate(90deg);
}


