.container-imagens {
    padding: 10px;
    border: white solid 5px;
    background-color: #eff4fc;
    width: 100%;
    height: 750px;
    min-height: 750px;
    margin-top: 10px;
    margin: 0.1%;
}

.panel-main img {
    width: 100%;
    height: auto;
    max-height: 700px;
}

.thumbs img {
    width: 45%;
    /* height: 20%; */
    max-height: 700px;
    margin: 2% 0%;
    padding: 10px;
}


    .thumbs {
    display: inline-table;
    padding: 1px;
    height: 710px;
    display: block;
    overflow-y: auto;
}

.thumbs::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.thumbs::-webkit-scrollbar {
    width: 9px;
    background: #F4F4F4;
}
.thumbs::-webkit-scrollbar-thumb {
    background: #dad7d7;
    border-radius: 30px;
}

.toolbar-principal{
    width: 11.5rem;
    height: 6rem;
    left: 68%;
    margin-left: -8rem;
    margin-left: -25%;
}
.toolbar-modalAjuste{   
    width: 16.5rem;
    height: 3rem;
    left: 51%;
    margin-left: -8rem;
}

.toolbar{
    background-color: rgba(0,0,0,.5);
    top: 1rem;
    color: #fff;
    position: absolute;
    z-index: 2015;
    opacity: 0.4;
}


.toolbar-botao{
    background-color: transparent;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center;   
}

.toolbar-botao-principal{
    font-size: .875rem;
    height: 4rem;
    width: 4rem;
    margin: 7%;
}
.toolbar-botao-modalAjuste{
    font-size: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin: 2%;
}

.toolbar:hover{
    opacity: 1;
}

.fa-ajuste{
    font-size: 3rem!important;
}

.fa-modalAjuste{
    font-size: 2rem!important;
}

.dropdown-menu{
    z-index: 2016;
}