// globais

$white: #fff;
$transicao-hover: all 0.8s;

body{
  background: #E9EFF4;
}

h1, h2, h3, h4, h5, h6 {
  color: #26445A;
}

p, span{
  margin: 0;
  padding: 0;
}

button:focus, button:active, button:visited{
  outline: 0!important;
  border-color: transparent!important;
  box-shadow: none!important;
}

dl, ol, ul{
  margin: 0;
}


.titulo h1{
  font-size: 16px;
  text-transform: uppercase;
}

.icon-titulo{
  background:url(../img/icon-filtro.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 5px 30px;
  margin-top: 19px;
  font-weight: 500 !important;
  font-weight: 100 !important;
  text-transform: uppercase;
  transition: $transicao-hover;
}

button.btn-primary {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
  text-transform: uppercase;
}

button.btn-primary:hover {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
}

button.btn-second {
  background: none;
  border-color: #AFC5DB;
  color: #AFC5DB;
  text-transform: uppercase;
  transition: $transicao-hover;
}

button.btn-second:hover{
  color: #0F81ED;
  border-color: #0F81ED;
  transition: $transicao-hover;
}

.btn-primary:hover, .btn-salvar:hover{
  opacity: 0.7;
  transition: $transicao-hover;
  color: #fff;
}

.check{
  margin-bottom: 20px;
}

.check > label{
  display: block;
}

.form-check-inline{
  margin-right: 50px;
}
// fim globais

// consulta
.consulta{
  padding: 50px 0;
}

.accordion .card .card-header{
  background: transparent;
  border-bottom: none;
  padding-left: 0;
  padding-right: 0;
}

.accordion .card .card-header h5 button{
  font-size: 18px;
  letter-spacing: 5px;
  color: #26445A;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.consulta .accordion .card .card-header h5 button{
  text-transform: none;
  padding: 5px 15px;
}

.card-body{padding: 10px;}

.accordion .card .card-header{
  background: transparent;
  border-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
}

.box-title-heading{color: #000; font-weight: 500;}

// toggle processo
.bar-geral{
  float: right;
  background: #AFC5DB;
  padding: 11px 0 0 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 27px;
  width: 27px;
}

.bar1, .bar2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar2{
  width: 11px;
  opacity: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-90deg) translate(-2px, 0px);
  transform: rotate(-90deg) translate(-2px, 0px);
}

.change .bar2 {opacity: 1;}
//fim toggle processo

// toggle ocorrencia
.bar-1{
  -webkit-transform: rotate(0deg) translate(0px, 1px);
    transform: rotate(0deg) translate(0px, 1px);
}

.bar-1, .bar-2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar-2{
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
    transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar-1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar-2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
    transform: rotate(0deg) translate(1px, 0px);
}
// fim toggle ocorrencia

// toggle prestador
.bar--1{
  -webkit-transform: rotate(0deg) translate(0px, 1px);
    transform: rotate(0deg) translate(0px, 1px);
}

.bar--1, .bar--2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar--2{
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
    transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar--1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar--2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
    transform: rotate(0deg) translate(1px, 0px);
}
// fim toggle ocorrencia

// efeito add itens
// select:not([multiple]) {
//   -webkit-appearance: none;
//   -moz-appearance: none;
// }

  #sel{
   color: #495057;
   line-height: 40px;
   background: #fff;
   border: 1px solid #ced4da;
   cursor: pointer;
   width: 88%;
   height: 38px;
  }

.add-mais {
  text-align: center;
  padding: 1px 10px;
  border-radius: 100%;
  background: #4BA1F1;
  color: #fff;
  font-size: 20px !important;
  cursor: pointer;
  float: right;
}

.box-item {
  background: none;
  position: relative;
  margin-top: 20px;
  color: #939393;
}

.sltd-box .sltd-item{
  border: 1px solid #F2F7FA;
  padding: 6px;
  border-radius: 3px;
  background-color: #F2F7FA;
  display: inline-block;
  margin: 2px 30px 0 0;
  width: auto;
  font-family: 'Open Sans';
  text-align: center;
}

.sltd-box .stld-action {
  display: inline-block;
  text-align: center;
  margin-left: 5px;
  padding: 3px;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
  color: #fff;
  background: #E23052;
  border-radius: 8px;
}

.icon-nav-fechar:before {
  font-size: 9px;
  padding: 1px;
}

.sltd-box .sltd-item.sample {display: none;}

.breaker {
  height: 2px;
  border-bottom: 1px solid #AAA;
  color: black;
  margin: 10px 100px 5px 100px;
}
// fim efeito add itens
// fim consulta

// form
.form {
  position: relative;
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 0;
  color: #232323;
  font-weight: 500;
}

.form label {
  position: absolute;
  bottom: 13px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #E6E6E6;
  font-weight: 300;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #BABABA;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 0!important;
  transition: all 0.3s ease;
  color: #A3A7AB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.content-name span:last-child {height: 22px;}

.form input:focus {outline: none;}

.input::placeholder{color: black !important;}

.input-date::placeholder{color: black !important;}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  left: 0px;
  color: #A3A7AB;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.form input:focus+.label-name .content-name{
  color: #A3A7AB;
}
// fim forms


/* Corpo Tabela */

.bg-table{
background: #F5F5F9;
padding: 10px 25px 25px 25px;
}

table {
background-color: none;
/*border-collapse: separate;*/
}

.table{
margin-bottom: 0;
background: none;
padding: 0 15px 15px 15px;
}

.larg-actions{
display: inline-block;
width: 100px;
}
//alteracao
.table-responsive{
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  overflow: auto !important;
}

.resultado-filtro p{
  color: #26445A;
  margin-bottom: 7px;
}

.table>thead>tr>th {
text-transform: uppercase;
font-weight: 700;
color:#8A9EB2;
font-size: 13px;
background: #fff;
border: none;
padding: 15px;
}

.table > tbody > tr.separator{
border: none;
box-shadow: none;
  background: transparent;
}

.table > tbody > tr{
  background: #F6F7FB;
}

.table > tbody > tr > td{
padding: 13px;
font-weight: 300;
color:#707071;
font-size: 12px;
background: transparent;
border-top: 2px solid transparent;
border-bottom: 2px solid transparent;
transition: all 0.3s linear;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
}

.table > tbody > tr:hover > td{
border-top: 2px solid #E60F35;
border-bottom: 2px solid #E60F35;
transition: all 0.3s linear;
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
}

.table > tbody > tr > td:first-child{
border-left: 2px solid #fff;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-top-left: 5px;
-moz-border-radius-bottom-left: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-moz-border-radius-top-right: 0px;
-moz-border-radius-bottom-right: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

.table > tbody > tr > td:last-child{
border-right: 2px solid #fff;
-webkit-border-top-left-radius: 0px;
-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomleft: 0px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;

-webkit-border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

.table > tbody > tr:hover > td:first-child{
  border-color: #E60F35;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table > tbody > tr:hover > td:last-child{
  border-color: #E60F35;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr > td {
// -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.02);
// -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.02);
// box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.02);
}
// fim alteracao

.table > tbody > tr.separator > td{
padding: 8px;
background:none;
border: none;
}

table td:last-child {width: 180px;}

.table > tbody > tr.separator{
border: none;
box-shadow: none;
}


/* Tabela com header */
.header-table{
border: 1px solid #ececf1;
background: #fff;
padding: 20px 40px 20px 8px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

-webkit-border-bottom-left-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-moz-border-radius-bottomleft: 0px;
-moz-border-radius-bottomright: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
margin-top: 40px;
}

.bg-table.with-header{margin-top: 0;}

.header-table img, .header-table img + div{float: left;}

.header-table img{margin-right: 10px;}

.header-table span{color: #717073;}

.header-table span:last-child{
font-size: 14px;
font-weight: 600;
}

.header-table li{
display: inline-block;
padding: 0 30px;
border-right: 1px solid #ececf1;
}

.header-table li:last-child{
  border: none;
}

/* Fim tabela com header */
/* Fim corpo tabela */

.menu-visible .circle{
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
background: #AFB7C3;
height: 4px;
width: 4px;
display: inline-block;
}

table td.actions:last-child{width: 5%;}

td.actions .float-right{
position: relative;
margin-right: 25px;
}

td.actions .menu-visible{
position: absolute;
top:0;
left: 50%;
opacity: 1;
display: inline-block;
transition: all 0.2s linear;
-webkit-transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
width:20px;
margin-left: -10px;
}

td.actions .menu-invisible{
position: absolute;
top: 0px;
left: -47px;
opacity: 0;
display: inline-block;
transition: all 0.2s linear;
-webkit-transition:all 0.2s linear;
-moz-transition:all 0.2s linear;
width:90px;
/*margin-left: -52px;*/
}

td.actions .menu-invisible a{margin-right: 5px;}

tr:hover td.actions .menu-visible{opacity: 0;}

tr:hover td.actions .menu-invisible{
top: 0px;
left: -8px;
opacity: 1;
}

tr:hover td.actions .menu-invisible.one{
left: 15px;
}

.with-checkbox input{
margin-right: 5px;
width: auto;
display: inline-block;
}

tr:hover td {color: #89919F;}

/* Tabela sem hover */
.no-hover .table > tbody > tr:hover > td{
border-top: 2px solid #fff;
border-bottom: 2px solid #fff;
}

.no-hover .actions .menu, .no-hover .actions .menu-invisible{display: none;}

.no-hover .table > tbody > tr > td:first-child{border-left: 2px solid #fff;}

.no-hover .table > tbody > tr > td:last-child{border-right: 2px solid #fff;}

.no-hover .table > tbody > tr.separator > td{border:none;}
/* Fim Tabela sem hover */

/* paginacao */
.pagination .icon{
  font-size: 11px;
  margin: -4px;
}
.pagination{
  list-style: none;
  margin: 10px auto 0;
  display: block;
  margin: 40px 0;
  text-align: center;
  float: none;
  padding: 13px 0 0 0;
}

.pagination li {
  display: inline-block;
  text-align: center;
  width: 45px;
  margin: 0 -5px;
}

.pagination li a {
  margin-left: 12px;
  padding: 5px 10px;
  line-height: 27px;
  width: 30px;
  height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: none;
  color: #2266A7;
  border: 1px solid #2266A7;
  font-weight: 500;
  font-size: 12px;
}

.pagination a.active, .pagination a:hover  {
  cursor: pointer;
  color: #fff!important;
  background: #2266A7 !important;
  border-color: #2266A7 !important;
  text-decoration: none;
}

.pagination a.active:hover{
  background: #2266A7!important;
  border-color: #2266A7!important;
  color:#fff;
  cursor: default;
}

.pagination a.more{
  line-height: 24px;
  border: none;
}

.pagination a.more:hover{
  cursor: default;
  border: none;
  background: none!important;
  color: #868686!important;
}
.pagination>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
.pagination>li:last-child>a {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.pagOff span {
  opacity:0.2;
}
.pagination li a.pagOff {
  pointer-events: none;
}
.pagination li a.pagOff:hover {
  background: none;
  cursor:default;
}

.pag-and-btn {
    position: relative;
    height: 35px;
}

.pagination-centered {
    text-align: center;
}

.btn-floating{
  position: absolute;
  right: 0;
  top: 0;
}

.pagination li a.prev, li a.next {
  padding: 5px 12px;
}

/* fim paginacao */



  // header

  // .container-fluid{
  //   padding: 0 120px;
  // }

  header{
    background:url(../img/bg-header.png) no-repeat;
    height: 170px;
  }

  header .navbar{
    z-index: 2;
    padding: 0;
  }

  // .accordion .container-fluid{
  //   padding: 0 15px;
  // }
  header .logo{
    padding: 0 33px;
    background: red;
    height: 79px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    background-color: rgba(227, 15, 53, 0.6);
  }

  header .logo img{
    margin-top: 22px;
  }

  header ul li{
    margin-right: 50px;
  }

  header ul li:last-child{
    margin-right: 0;
  }

  header ul li a{
    color: #6888AB;
    font-size: 16px;
    transition: $transicao-hover;
  }

  header ul li a.active, header ul li a:hover{
    color: #fff;
    transition: $transicao-hover;
    text-decoration: none;
  }

  header .navbar{
    background-color: rgba(0, 0, 0, 0.3)!important;
    margin-top: 87px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .user{
    margin-right: 30px;
    display: none;
  }

  .user button {
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  .user img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 53px;
    height: 53px;
    float: left;
  }

  .user .options {
    float: left;
    margin: 15px 0 0 10px;
  }

  .user .options span {
    background: #D7D9DA;
    width: 5px;
    height: 5px;
    margin-top: 3px;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }

  .user .dropdown-toggle::after{
    display: none;
  }



/* header desktop */
//   .navbar.fixed-top.desktop{
//   z-index: 2000;
// }
//
// .navbar-expand-md .navbar-nav .nav-link{
//   color: red;
//   font-weight: 600;
// }
//
// .desktop .nav.navbar-nav{
//   padding: 24px 0 17px;
// }
//
// .desktop.navbar-expand-md .navbar-nav .nav-link{
//   padding: 0;
// }
//
// .desktop.navbar-light{
// 	background: $white;
// 	padding: 0;
// 	box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// 	-webkit-box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// 	-moz-box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// }
//
// .desktop.navbar-light .navbar-brand{
//   margin: 0;
//   padding: 0;
// }
//
// .desktop.navbar-light .nav-link{
// 	text-transform: uppercase;
// 	font-size: 13px;
//   transition: $transicao-hover;
// }
//
// .desktop.navbar-light .navbar-nav .active .nav-link{
// 	color: red;
// }
//
// .desktop.navbar-light .navbar-nav .nav-link:hover {
//   color: red;
//   transition: $transicao-hover;
// }
//
// .desktop .nav-item {
//   margin-right: 30px;
// }
//
// .desktop .nav-item:last-child {
//   margin-right: 0px;
// }
//
// .desktop .nav-item:last-child {
//   border-right: 1px solid #ccc;
//   padding-right: 40px;
// }
//
// .desktop .profile{
//   position: relative;
//   background: none;
//   border: none;
//   display: block;
// }
//
// .desktop .name{
//   padding: 13px 28px;
// }
//
// .desktop .photo{
//   width: 32px;
//   height: 32px;
//   -webkit-border-radius: 100px;
//   -moz-border-radius: 100px;
//   border-radius: 100px;
//   border: 2px solid red;
//   float: left;
//   transition: $transicao-hover;
// }
//
// .desktop .name p{
//   float: left;
//   margin: 5px 0 0 7px;
//   font-size: 15px;
//   color: #2095c6;
//   transition: $transicao-hover;
//   font-weight: 600;
// }
//
// .desktop .name p::after {
//   display: inline-block;
//   width: 0;
//   height: 0;
//   border-style: solid;
//   border-width: 7px 5px 0 5px;
//   border-color: #2095c6 transparent transparent transparent;
//   content: " ";
//   margin-left: 8px;
//   transition: $transicao-hover;
// }
//
// .desktop .profile:focus{
//   background: red;
//   transition: $transicao-hover;
// }
//
// .desktop .profile:focus .photo{
//   border-color: $white;
//   transition: $transicao-hover;
// }
//
// .desktop .profile:focus p{
//   color: $white;
//   transition: $transicao-hover;
// }
//
// .desktop .profile:focus p::after{
//   border-color: $white transparent transparent transparent;
//   transition: $transicao-hover;
// }
//
// .desktop .profile ul{
//   opacity: 0;
//   padding: 13px 28px;
//   -webkit-border-bottom-right-radius: 5px;
//   -webkit-border-bottom-left-radius: 5px;
//   -moz-border-radius-bottomright: 5px;
//   -moz-border-radius-bottomleft: 5px;
//   border-bottom-right-radius: 5px;
//   border-bottom-left-radius: 5px;
//
//   -webkit-border-top-right-radius: 0;
//   -webkit-border-top-left-radius: 0;
//   -moz-border-radius-topright: 0;
//   -moz-border-radius-topleft: 0;
//   border-top-right-radius: 0;
//   border-top-left-radius: 0;
//   position: absolute;
//   z-index: 2;
//   width: 100%;
//   left: 0;
// }
//
// .desktop .profile ul li a{
//   font-size: 15px;
// }
//
// .desktop .profile ul li:last-child{
//   margin-top: 23px;
// }
//
// .desktop .profile:focus ul{
//   opacity: 1;
//   display: block;
//   transition: $transicao-hover;
// }
//
//
//
// .mobile.navbar-expand-lg>.container{
//   padding: 10px 15px;
// }
// .mobile .nav.navbar-nav{
//   padding: 20px;
//   background: #202020;
// }
//
// .mobile.navbar-expand-md .navbar-nav .nav-link{
//   padding: 0;
// }
//
// .mobile.navbar-light{
// 	background: $white;
// 	padding: 0;
// 	box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// 	-webkit-box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// 	-moz-box-shadow: 0px 7px 7px -6px rgb(208, 208, 208);
// }
//
// .mobile.navbar-light .navbar-brand{
//   margin: 0;
//   padding: 0;
// }
//
// .mobile.navbar-light .nav-link{
// 	color:#ccc;
// 	text-transform: uppercase;
// 	font-size: 15px;
//   transition: $transicao-hover;
// }
//
// .mobile.navbar-light .navbar-nav .active .nav-link{
// 	color: red;
// }
//
// .mobile.navbar-light .navbar-nav .nav-link:hover {
//   color: red;
//   transition: $transicao-hover;
// }
//
// .mobile .nav-item {
//   margin:0 40px 30px 0;
// }
//
// .mobile .nav-item:last-child {
//   margin-right: 0px;
// }
//
// .mobile .nav-item:last-child {
//   border-right: none;
//   padding-right: 40px;
// }
//
// .mobile .profile{
//   padding: 20px 0 0;
//   background: red;
// }
//
// .mobile .profile p{
//   color: #c4eafb;
//   margin: 10px 0 0;
//   font-size: 15px;
//   text-transform: uppercase;
//   letter-spacing: 2px;
// }
//
// .mobile .profile a{
//   display: block;
// }
//
// .mobile .profile p + a{
//   color: $white;
//   font-size: 14px;
//   margin-top: 5px;
// }
//
// .mobile .profile p + a + a{
//   color: #10465d;
//   font-size: 14px;
//   font-weight: bold;
//   border-top: 1px solid #29a1d4;
//   padding: 11px 0;
//   margin-top: 15px;
// }
//
//
// .mobile .photo{
//   width: 100px;
//   height: 100px;
//   -webkit-border-radius: 100px;
//   -moz-border-radius: 100px;
//   border-radius: 100px;
//   border: 2px solid $white;
//   transition: $transicao-hover;
// }
//
//
// .offcanvas-collapse {
//     position: fixed;
//     top: 61px; /* Height of navbar */
//     bottom: 0;
//     right: 100%;
//     left:-100%;
//     width: 100%;
//     overflow-y: auto;
//     visibility: hidden;
//     background: #202020;;
//     transition-timing-function: ease-in-out;
//     transition-duration: .3s;
//     transition-property: left, visibility;
//     padding: 0;
//   }
//
//   .offcanvas-collapse {
//       align-items:start;
// /*   Adds a subtle drop shadow   */
//     			-moz-background-clip: padding;     /* Firefox 3.6 */
// 			-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
// 			background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
//   }
//
//
// .offcanvas-collapse.open{
//   top: 61px;
// }
//
//
// /* Makes the nav visibile with the open class */
//   .offcanvas-collapse.open {
//     left: 0;
//     visibility: visible;
//   }
//
//
// /* animacao botao menu */
//
//   .mobile.navbar-light .navbar-toggler{
//     background: #ef4056;
//   }
//   .bar1, .bar2, .bar3 {
//     width: 23px;
//     height: 2px;
//     background-color: $white;
//     margin: 6px 0;
//     transition: 0.4s;
//   }
//
//   .change .bar1 {
//     -webkit-transform: rotate(-45deg) translate(-5px, 7px);
//     transform: rotate(-45deg) translate(-5px, 5px);
//   }
//
//   .change .bar2 {opacity: 0;}
//
//   .change .bar3 {
//     -webkit-transform: rotate(45deg) translate(-4px, -7px);
//     transform: rotate(45deg) translate(-6px, -7px);
//   }
//
//   /* fim animacao botao menu */

  // fim header



  /* interna */
  .clearfix{
    clear: both;
  }

  .interna{
    margin-top: 38px;
  }

  .interna .box{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 15px 7px 30px;
    margin-bottom: 30px;
    background:#F2F5F8;
  }

  .interna .box p{
    color: #919191;
    font-size: 14px;
  }

  .interna .box span{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 500;
  }

  .nav.white, .tab-content.white{
    background: $white;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
  }

  .tab-content.white{
    padding: 20px 10px;
  }

  .flex-column .nav-link, .mobile .accordion .card .card-header h5 button{
    color: #AFC5DB;
    text-transform: uppercase;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 18px 30px 18px 73px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .nav-pills .nav-link.active{
    background-color: #D8E6FF;
    color: #26445A;
  }

  .anexos{
    background:url(../img/icon-anexos.png) 32px center no-repeat;
  }

  .anexos.active{
    background:url(../img/icon-anexos-active.png) 32px center no-repeat;
  }

  .orcamento{
    background:url(../img/icon-orcamento.png) 32px center no-repeat;
  }

  .orcamento.active{
    background:url(../img/icon-orcamento-active.png) 32px center no-repeat;
  }

  .parecer{
    background:url(../img/icon-parecer.png) 32px center no-repeat;
  }

  .parecer.active{
    background:url(../img/icon-parecer-active.png) 32px center no-repeat;
  }

  .indenizacao{
    background:url(../img/icon-indenizacao.png) 32px center no-repeat;
  }

  .indenizacao.active{
    background:url(../img/icon-indenizacao-active.png) 32px center no-repeat;
  }

  .benef-veiculo{
    background:url(../img/icon-benef-veiculo.png) 32px center no-repeat;
  }

  .benef-veiculo.active{
    background:url(../img/icon-benef-veiculo-active.png) 32px center no-repeat;
  }

  .historico{
    background:url(../img/icon-historico.png) 32px center no-repeat;
  }

  .historico.active{
    background:url(../img/icon-historico-active.png) 32px center no-repeat;
  }

  .detalhes-apolic{
    background:url(../img/icon-detalhes.png) 32px center no-repeat;
  }

  .detalhes-apolic.active{
    background:url(../img/icon-detalhes-active.png) 32px center no-repeat;
  }

  .interna h1{
    color: #0B67BE;
    font-size: 23px;
    font-weight: 500;
  }

  .interna h2{
    font-size: 13px;
    color:#060606;
    font-weight: 500;
    margin: 50px 0 20px 0;
    text-transform: uppercase;
    color: #0B67BE;
  }


  .btn-salvar{
    background: #10C35E;
    color: #fff;
  }

  .btn-cancel{
    margin-right: 25px;
    background: transparent;
    border-color:#E70935;
    color: #E70935;
    transition: $transicao-hover;
  }

  .btn-cancel:hover{
    border-color:red;
    color: red;
    transition: $transicao-hover;
  }

  .mobile .card-body{
    padding: 30px;
  }

  .mobile .accordion .card .card-header h5 button{
    padding: 10px 10px 5px 59px;
    letter-spacing: 0;
    margin: 0;
    background-position: 15px 6px;
  }

  .interna .mobile .card-body .row:first-child h2{
    margin-top: 0;
  }



  /* fim interna */



  /* media query */
  @media (max-width: 576px){
    .navbar-nav{
      background: #92264c;
      padding: 30px 30px 10px 30px;
    }

    .nav-link{
      padding: 15px;
    }

    .separator{
      border-top: 1px solid #9a3559;
    }

    .interna .desktop{
      display: none;
    }

    .interna .box img{
      display: none;
    }

    .interna .box{
      margin-bottom: 10px;
    }
  }

  @media (min-width: 577px) and (max-width: 767px) {
    .navbar-nav{
      background: #92264c;
      padding: 30px 30px 10px 30px;
    }

    .nav-link{
      padding: 15px;
    }

    .separator{
      border-top: 1px solid #9a3559;
    }

    .interna .desktop{
      display: none;
    }

    .interna .box img{
      display: none;
    }

    .interna .box{
      margin-bottom: 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 992px){
    .navbar-nav{
      background: #92264c;
      padding: 30px 30px 10px 30px;
    }

    .nav-link{
      padding: 15px;
    }

    .separator{
      border-top: 1px solid #9a3559;
    }

    .interna .desktop{
      display: none;
    }

    .interna .box img{
      display: none;
    }

    .interna .box{
      margin-bottom: 10px;
    }

    #sel{
      width: 82%;
    }
  }

  @media (min-width: 993px) and (max-width: 1199px){
    .navbar-nav{
      background: #92264c;
      padding: 30px 30px 10px 30px;
    }

    .nav-link{
      padding: 15px;
    }

    .separator{
      border-top: 1px solid #9a3559;
    }

    .interna .mobile{
      display: none;
    }
  }

  @media (min-width: 1200px){
    .user{
      display: block;
    }

    .interna .mobile{
      display: none;
    }
  }
