// globais
// imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
// fim imports

// fonts
@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
}

$white: #fff;
$transicao-hover: all 0.8s;

body{
  font-family: 'Open Sans', sans-serif;
  background: #E9EFF4;
}

h1, h2, h3, h4, h5, h6 {
  color: #26445A;
  font-family:'Montserrat' !important;
}

p, span{
  margin: 0;
  padding: 0;
}

button:focus, button:active, button:visited{
  outline: 0!important;
  border-color: transparent!important;
  box-shadow: none!important;
}

dl, ol, ul{margin: 0;}

a{
  text-decoration: none !important;
  list-style: none !important;
}

.titulo h1{
  font-size: 16px;
  text-transform: uppercase;
}

.icon-titulo{
  background:url(../img/icon-filtro.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.print{
  background: url(../img/print.svg);
  width: 62px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center;
  right: 17px;
  position: absolute;
}

.bg-gray{
  background: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
}

.mw-100{
  max-width: 100% !important;
}

.print-conteudo-parecer{
  float: right;
  font-size: 13px;
}

.btn.focus, .btn:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active{
  color: #999 !important;
  background: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}

.form-control > button.btn-light{
  color: #999 !important;
  background: #fff !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
}

.btn {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  font-weight: 500 !important;
  font-weight: 100 !important;
  transition: $transicao-hover;
}

button.btn-primary {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
  text-transform: uppercase;
}

button.btn-primary:hover {
  background: #0F81ED;
  border-color: #0F81ED;
  color: #fff;
}

button.btn-second {
  background: none;
  border-color: #AFC5DB;
  color: #AFC5DB;
  text-transform: uppercase;
  transition: $transicao-hover;
}

button.btn-second:hover{
  color: #0F81ED;
  border-color: #0F81ED;
  transition: $transicao-hover;
}

.btn-primary:hover, .btn-salvar:hover{
  opacity: 0.7;
  transition: $transicao-hover;
  color: #fff;
}

.btn-transparent{
  background: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
}

.btn-transparent:hover, .btn-transparent:focus{
  background: #6c757d;
  color: #fff;
  border: 1px solid #fff;
}

.txt-up{text-transform: uppercase;}

.check{margin-bottom: 20px;}

.check > label{display: block;}

.form-check-inline{margin-right: 50px;}

.nav-item .dropdown-toggle::after{
  position: relative;
  top: 2px;
  left: 5px;
}

.input-arquivo > input[type="file"] {
  display: none;
}

.input-arquivo > label {
  padding: 7px 10px;
  width: 110px;
  background: #999999;
  border: 1px solid #999999;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  cursor: pointer;
  position: relative;
  top: 31px;
  font-size: 14px;
  border-radius: 17px;
  transition: $transicao-hover;
}

.input-arquivo > label:hover {
  color: #999999;
  background: #d7d7d7;
  border: 1px solid #d7d7d7;
  transition: $transicao-hover;
}

.ex-checkbox,
.ex-radio {
	position: relative;
	margin: 12px 0;
	font-size: 16px;
}

.ex-checkbox label,
.ex-radio label {
	padding-left: 23px;
	line-height: 140%;
	font-weight: normal;
	display: inline-block;
	position: relative;
}

.ex-checkbox input[type=checkbox],
.ex-radio input[type=radio] {
	margin: 0;
	opacity: 0;
	cursor: pointer;
	width: 15px;
	height: 15px;
	z-index: 10;
  position: absolute;
  top: 2px;
}

.ex-checkbox input[type=checkbox] + label::before {
	border: 1px solid #9f9f9f;
	width: 15px;
	height: 15px;
	content: '';
	position: absolute;
	left: 0;
  background-color: #fff;
  top: 2px;
}

.ex-checkbox input[type=checkbox]:hover + label::before {
	border: 2px solid #0288d1;
}

.ex-checkbox input[type=checkbox]:focus + label::before {
	box-shadow: 0 0 1px #0288d1;
	outline: none;
}

.ex-checkbox input[type=checkbox]:checked + label::before {
	border: 1px solid transparent;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjMDI4OGQxIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==') no-repeat center center;
	background-size: 24px 24px;
}

.ex-checkbox input[type=checkbox]:checked:hover + label::before {
	background-size: 30px 30px;
}

.ex-checkbox input[type=checkbox]:disabled {
	cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled + label {
	color: #bcbcbc;
	cursor: not-allowed;
}

.ex-checkbox input[type=checkbox]:disabled:checked + label::before {
	border: 1px solid transparent;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij48cGF0aCBmaWxsPSIjYmNiY2JjIiBkPSJNMTguOSA4LjhsLTguNyA4LjdjLS4xLjEtLjIuMS0uMyAwbC00LjktNC45Yy0uMS0uMS0uMS0uMiAwLS4zbDEuMi0xLjJjLjEtLjEuMi0uMS4zIDBsMy42IDMuNiA3LjMtNy4zYy4xLS4xLjItLjEuMyAwbDEuMiAxLjJjLjEgMCAuMS4xIDAgLjJ6IiAvPjwvc3ZnPg==') no-repeat center center;
}

.ex-checkbox input[type=checkbox]:disabled + label::before {
	border: 1px solid #bcbcbc;
}

label.form-check-label{
  font-size: 16px;
}
// fim globais

// accordion principais
.box-item-text{
  width: 50%;
  text-align: left;
}
.box-item-img{
  width: 50%;
  text-align: right;
}
// fim accordion principais

// header
p.welcome{
  float: left;
  color: #fff;
  text-align: right;
  margin: 6px 18px 0 0;
  font-size: 14px;
}
// fim header

// consulta
.menu-doc{
  text-align: center;
  color: #AFC5DB;
  transition: $transicao-hover;
}

.menu-doc:hover{  
  color: #26445A;
  transition: $transicao-hover;
}

.menu-doc > i{font-size: 45px;}

.consulta{padding: 50px 0;}

.accordion .card{
  border-radius: 5px !important;
  border: transparent;
}

.accordion .card .card-header{
  background: transparent;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  padding-left: 0;
  padding-right: 0;
}

.accordion .card .card-header h5 button{
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  color: #26445A;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.consulta .accordion .card .card-header h5 button{
  text-transform: none;
  // padding: 5px 15px;
}

.card-body{padding: 10px;}

.accordion .card .card-header{
  background: transparent;
  border-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
}

.box-title-heading{color: #000; font-weight: 500;}

// toggle processo
.bar-geral{
  float: right;
  background: #AFC5DB;
  padding: 11px 0 0 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  height: 27px;
  width: 27px;
}

.bar1, .bar2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar2{
  width: 11px;
  opacity: 0;
}

.change .bar1 {
  -webkit-transform: rotate(-90deg) translate(-2px, 0px);
  transform: rotate(-90deg) translate(-2px, 0px);
}

.change .bar2 {opacity: 1;}
//fim toggle processo

// toggle ocorrencia
.bar-1{
  -webkit-transform: rotate(0deg) translate(0px, 1px);
    transform: rotate(0deg) translate(0px, 1px);
}

.bar-1, .bar-2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar-2{
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
    transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar-1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar-2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
    transform: rotate(0deg) translate(1px, 0px);
}
// fim toggle ocorrencia

// toggle prestador
.bar--1{
  -webkit-transform: rotate(0deg) translate(0px, 1px);
    transform: rotate(0deg) translate(0px, 1px);
}

.bar--1, .bar--2{
  width: 11px;
  height: 2px;
  background-color: #fff;
  margin: 0;
  transition: 0.4s;
}

.bar--2{
  width: 11px;
  opacity: 1;
  -webkit-transform: rotate(-90deg) translate(-2px, 1px);
    transform: rotate(-90deg) translate(1px, 0px);
}

.change .bar--1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
}

.change .bar--2 {
  opacity: 0;
  -webkit-transform: rotate(0deg) translate(-2px, 1px);
    transform: rotate(0deg) translate(1px, 0px);
}
// fim toggle ocorrencia

// fim consulta

// form
.form {
  position: relative;
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 0;
  color: #232323;
  font-weight: 500;
}

.form label {
  position: absolute;
  bottom: 13px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #E6E6E6;
  font-weight: 300;
}

.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #BABABA;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 0!important;
  transition: all 0.3s ease;
  color: #A3A7AB;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.content-name span:last-child {height: 22px;}

.form input:focus {outline: none;}

.input::placeholder{color: black !important;}

.input-date::placeholder{color: black !important;}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  left: 0px;
  color: #A3A7AB;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

.form input:focus+.label-name .content-name{
  color: #A3A7AB;
}
// fim forms


// Corpo Tabela

.bg-table{
  background: #F5F5F9;
  padding: 10px 25px 25px 25px;
}

table {background-color: none;}

.table{
  margin-bottom: 0;
  background: none;
  padding: 0 15px 15px 15px;
}

.larg-actions{
  display: inline-block;
  width: 100px;
}

.table-responsive{
  background: #fff;
  padding: 24px;
  border-radius: 5px;
  overflow: auto !important;
}

.resultado-filtro p{
  color: #26445A;
  margin-bottom: 7px;
}

.table>thead>tr>th {
  text-transform: uppercase;
  font-weight: 700;
  color:#8A9EB2;
  font-size: 13px;
  background: #fff;
  border: none;
  padding: 15px;
}

.table > tbody > tr.separator{
  border: none;
  box-shadow: none;
  background: transparent;
}

.table > tbody > tr{background: #F6F7FB;}

.table > tbody > tr > td{
  padding: 13px;
  font-weight: 300;
  color:#707071;
  font-size: 12px;
  background: transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
}

.table > tbody > tr:hover > td{
  border-top: 2px solid #E60F35;
  border-bottom: 2px solid #E60F35;
  transition: all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
}

.table > tbody > tr > td:first-child{
  border-left: 2px solid #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table > tbody > tr > td:last-child{
  border-right: 2px solid #fff;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr:hover > td:first-child{
  border-color: #E60F35;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -moz-border-radius-bottom-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-top-right: 0px;
  -moz-border-radius-bottom-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.table > tbody > tr:hover > td:last-child{
  border-color: #E60F35;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table > tbody > tr.separator > td{
  padding: 8px;
  background:none;
  border: none;
}

table td:last-child {width: 180px;}

.table > tbody > tr.separator{
  border: none;
  box-shadow: none;
}

// Tabela com header
.header-table{
  border: 1px solid #ececf1;
  background: #fff;
  padding: 20px 40px 20px 8px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 40px;
}

.bg-table.with-header{margin-top: 0;}

.header-table img, .header-table img + div{float: left;}

.header-table img{margin-right: 10px;}

.header-table span{color: #717073;}

.header-table span:last-child{
  font-size: 14px;
  font-weight: 600;
}

.header-table li{
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid #ececf1;
}

.header-table li:last-child{border: none;}

// fim tabela com header
// fim corpo tabela

.menu-visible .circle{
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #AFB7C3;
  height: 4px;
  width: 4px;
  display: inline-block;
}

table td.actions:last-child{width: 5%;}

td.actions .float-right{
  position: relative;
  margin-right: 25px;
}

td.actions .menu-visible{
  position: absolute;
  top:0;
  left: 50%;
  opacity: 1;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  width:20px;
  margin-left: -10px;
}

td.actions .menu-invisible{
  position: absolute;
  top: 0px;
  left: -47px;
  opacity: 0;
  display: inline-block;
  transition: all 0.2s linear;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  width:90px;
}

td.actions .menu-invisible a{margin-right: 5px;}

tr:hover td.actions .menu-visible{opacity: 0;}

tr:hover td.actions .menu-invisible{
  top: 0px;
  left: -8px;
  opacity: 1;
}

tr:hover td.actions .menu-invisible.one{left: 15px;}

.with-checkbox input{
  margin-right: 5px;
  width: auto;
  display: inline-block;
}

tr:hover td {color: #89919F;}

// tabela sem hover
.no-hover .table > tbody > tr:hover > td{
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.no-hover .actions .menu, .no-hover .actions .menu-invisible{display: none;}

.no-hover .table > tbody > tr > td:first-child{border-left: 2px solid #fff;}

.no-hover .table > tbody > tr > td:last-child{border-right: 2px solid #fff;}

.no-hover .table > tbody > tr.separator > td{border:none;}
/* fim tabela sem hover */

// paginacao
.pagination .icon{
  font-size: 11px;
  margin: -4px;
}

.pagination{
  list-style: none;
  margin: 10px auto 0;
  display: block;
  margin: 40px 0;
  text-align: center;
  float: none;
  padding: 13px 0 0 0;
}

.pagination li {
  display: inline-block;
  text-align: center;
  width: 45px;
  margin: 0 -5px;
}

.pagination li a {
  margin-left: 12px;
  padding: 5px 10px;
  line-height: 27px;
  width: 30px;
  height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: none;
  color: #2266A7;
  border: 1px solid #2266A7;
  font-weight: 500;
  font-size: 12px;
}

.pagination a.active, .pagination a:hover  {
  cursor: pointer;
  color: #fff!important;
  background: #2266A7 !important;
  border-color: #2266A7 !important;
  text-decoration: none;
}

.pagination a.active:hover{
  background: #2266A7!important;
  border-color: #2266A7!important;
  color:#fff;
  cursor: default;
}

.pagination a.more{
  line-height: 24px;
  border: none;
}

.pagination a.more:hover{
  cursor: default;
  border: none;
  background: none!important;
  color: #868686!important;
}

.pagination>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.pagination>li:last-child>a {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.pagOff span {opacity:0.2;}

.pagination li a.pagOff {pointer-events: none;}

.pagination li a.pagOff:hover {
  background: none;
  cursor:default;
}

.pag-and-btn {
  position: relative;
  height: 35px;
}

.pagination-centered {
  text-align: center;
}

.btn-floating{
  position: absolute;
  right: 0;
  top: 0;
}

.pagination li a.prev, li a.next {
  padding: 5px 12px;
}

// fim paginacao

header{
  background:url(../img/bg-header.png) no-repeat;
  height: 117px;
}

header .logo{
  padding: 0 33px;
  background: red;
  height: 79px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;

  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
  background-color: rgba(227, 15, 53, 0.6);
}

header .logo img{margin-top: 22px;}

header ul li{margin-right: 30px;}

header ul li:last-child{margin-right: 0;}

header ul li a{
  color: #6888AB;
  font-size: 16px;
  transition: $transicao-hover;
}

header ul li a.active, header ul li a:hover{
  color: #fff;
  transition: $transicao-hover;
  text-decoration: none;
}

header .navbar{
  z-index: 2;
  padding: 0;
  margin-top: 34px;
  background-color: rgba(0, 0, 0, 0.3)!important;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user{
  margin-right: 30px;
  display: none;
}

.user button {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.user img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 53px;
  height: 53px;
  float: left;
}

.user .options {
  float: left;
  margin: 15px 0 0 10px;
}

.user .options span {
  background: #fff;
  width: 5px;
  height: 5px;
  margin-top: 3px;
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.user .dropdown-toggle::after{
  display: none;
}
// fim header

// interna
.clearfix{clear: both;}

.interna{margin-top: 38px;}

.interna .box{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 15px 7px 30px;
  background:#F2F5F8;
}

.interna .box p{
  color: #919191;
  font-size: 14px;
}

.interna .box span{
  color: #7B7B7B;
  font-size: 16px;
  font-weight: 600;
}

.nav.white, .tab-content.white{
  background: $white;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
}

.tab-content.white{padding: 20px 10px;}

.flex-column .nav-link, .mobile .accordion .card .card-header h5 button{
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 0 0 0 10px;
  font-size: 13px;
  font-weight: 500;
}

.menu-itens .nav-link.active{
  background-color: #D8E6FF;
  color: #26445A;
  padding: 5px !important;
}

.menu-itens > a{
  color: #AFC5DB;
  padding: 15px !important;
  text-align: center;
}

.menu-itens > a:hover{
  color: #26445A;
  transition: $transicao-hover;
}

.menu-itens > a > i{
  font-size: 38px;
}

.menu-itens > a > i.icon-fin-acompanhamento-proposta, .menu-itens > a > i.icon-nav-visualizar,.menu-itens > a > i.icon-fin-receber, .menu-itens > a > i.icon-info-vida{
  font-size: 46px;
}

.menu-itens > a:first-child{
  padding-bottom: 0 !important;
}

.anexos{background:url(../img/icon-anexos.png) center no-repeat;}

.anexos{background:url(../img/icon-anexos.png) center no-repeat;}

.anexos.active{background:url(../img/icon-anexos-active.png) center no-repeat;}

.historico{background:url(../img/icon-historico.png) center no-repeat;}

.historico.active{background:url(../img/icon-historico-active.png) center no-repeat;}

.detalhes-apolic{background:url(../img/icon-detalhes.png) center no-repeat;}

.detalhes-apolic.active{background:url(../img/icon-detalhes-active.png) center no-repeat;}

.detalhes-apolic.active{background:url(../img/icon-detalhes-active.png) center no-repeat;}

.doc-anexos-parecer div div div > img{
  width: 100%;
}

.anexo-parecer{
  color: #e60935;
}

.anexo-parecer:hover{
  color: #e60935;
}

.anexo-parecer .icon-nav-anexar{
  font-size: 20px;
}

.anexo-parecer span{
  position: relative;
  top: -3px;
  right: 5px;
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 100%;
  color: #fff;
  background: #e60935;
}

.icon-close{
  background:url(../img/close.svg);
  width: 25px;
  height: 25px;
  right: 15px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.interna h1{
  color: #0B67BE;
  font-size: 23px;
  font-weight: 500;
  margin: 0;
}

.interna h2{
  font-size: 13px;
  color:#060606;
  font-weight: 500;
  margin: 50px 0 20px 0;
  text-transform: uppercase;
  color: #0B67BE;
}

span.btn-add{
  background:url(../img/add.svg);
  width: 28px;
  height: 28px;
  right: 15px;
  bottom: 2px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.info-parecer{
  background: #eff4fc;
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
}

.header-parecer > div > p{
  font-size: 14px;
}

.conteudo-parecer{
  background: #fff;
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 10px;
}

.toolbar-imagens{
  overflow: hidden;
  display: none;
}

.panel-main:hover > .toolbar-imagens{
  overflow: visible;
  display: block;
}

.btn-salvar{
  background: #10C35E;
  color: #fff;
  text-transform: uppercase;
}

.btn-cancel{
  margin-right: 25px;
  background: transparent;
  border-color:#E70935;
  color: #E70935;
  transition: $transicao-hover;
  text-transform: uppercase;
}

.btn-cancel:hover{
  background: #E70935;
  color: #fff;
  transition: $transicao-hover;
}

.interna .mobile .card-body .row:first-child h2{
  margin-top: 0;
}

.color-b{color: #0B67BE;}

// modal
.modal-title{
  color: #0B67BE;
  font-size: 23px;
  font-weight: 500;
  margin: 0;
}
// fim modal

// fim interna

// media query
@media (max-width: 576px){
  .navbar-nav{
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }

  .nav-link{padding: 15px;}

  .separator{border-top: 1px solid #9a3559;}

  .interna .desktop{display: none;}

  .interna .box img{display: none;}

  .interna .box{margin-bottom: 10px;}

  .accordion-desk{display: none;}

  .navbar-collapse{
    background: #F2F5F8;
  }

  .dropdown-menu.show{
    width: 100%;
    background: #DFE8EF;
  }

  .dropdown-item{
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }

  header ul li{
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .navbar-nav{
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }

  .nav-link{padding: 15px;}

  .separator{border-top: 1px solid #9a3559;}

  .interna .desktop{display: none;}

  .interna .box img{display: none;}

  .interna .box{margin-bottom: 10px;}

  .accordion-desk{display: none;}

  .navbar-collapse{
    background: #F2F5F8;
  }

  .dropdown-menu.show{
    width: 100%;
    background: #DFE8EF;
  }

  .dropdown-item{
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }

  header ul li{
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  .accordion-desk{display: none;}
  
  .navbar-collapse{
    background: #F2F5F8;
  }

  .dropdown-menu.show{
    width: 100%;
    background: #DFE8EF;
  }

  .dropdown-item{
    border-bottom: 1px solid #f2f2f2;
    padding: 15px;
  }

  header ul li{
    width: 100% !important;
    margin: 0 !important;
  }
  
  .navbar-nav{
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }

  .nav-link{padding: 15px;}

  .separator{border-top: 1px solid #9a3559;}

  .interna .desktop{display: none;}

  .interna .box img{display: none;}

  .interna .box{margin-bottom: 10px;}
  
  .card{border-bottom: 1px solid #f2f2f2 !important;}
  
  .header-parecer div p{margin:3px 0;}

  .card .card-header{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card .card-header h5 > button{
    font-size: 20px !important;
  }
}

@media (min-width: 993px) and (max-width: 1199px){
  .navbar-nav{
    background: #92264c;
    padding: 30px 30px 10px 30px;
  }

  .nav-link{padding: 15px;}

  .separator{border-top: 1px solid #9a3559;}

  .interna .mobile{display: none;}

  // #tab-content-sidebar, #tab-documentos{padding: 0;}
}

@media (max-width: 1024px){
  .box-item-text{width: 100%}
  .box-item-img{display: none;}
}

@media (min-width: 1200px){
  .user{display: block;}
  
  .interna .mobile{display: none;}
}
